.container {
margin: 0 auto;
width: 100%;
max-width: 1200px;
min-width: 300px;
padding-bottom: 50px;}

#banner {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;}

#intro {border: 2px solid red;
margin-top: 15px;
margin-bottom: 15px;}

#name {
  font-weight: 600;
  font-family: 'Lato', sans-serif, arial;
  color: 403f3f;
  font-size: 2.25em;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  text-align: center;
  width: 267px;
  margin: 0 auto;
}

#menu {
  font-family: 'Ebrima', sans-serif, arial;
  font-weight: 400;
  font-size: 1em;
  list-style-type: none;
  text-align: center;
}

#menu li {display: inline;}

.text {
  font-weight: 400;
  font-family: 'Embria', sans-serif, arial;
  font-size: 1em;
  text-align: justify;
}

.sectionheader {
  font-weight: 400;
  font-family: 'Lato', sans-serif, arial;
  color: 403f3f;
  font-size: 2em;
  border: 2px solid red;
  text-transform: uppercase;
  width: 100%;
  min-width: 300px;
}

#occupation {
  font-weight: 600;
  font-family: 'Lato', sans-serif, arial;
  color: 403f3f;
  font-size: 2em;
  border: 2px solid red;
  text-transform: uppercase;
  width: 100%;
  min-width: 300px;
  text-align: left;
}

#coolshit {
  font-weight: 400;
  font-family: 'Embria', sans-serif, arial;
  font-size: 1em;
  text-align: justify;
  list-style-type: square;
  list-style-position: inside;
}

#degrees {font-weight: 400;
font-family: 'Embria', sans-serif, arial;
font-size: 1em;
list-style-type: square;
list-style-position: inside;}

.jobtitle {font-size: 1.5em;
font-family: 'Embria', sans-serif, arial;
font-weight: 600;}

.organization {font-size: 1.5em;
font-family: 'Embria', sans-serif, arial;
font-weight: 400;}

.date {font-size: 1em;
font-family: 'Embria', sans-serif, arial;
font-weight: 400;
font-style: italic;
margin-top: 2px;}
