/*Responsiveness for large, desktop viewports*/
@media only screen and (min-width: 600px) {.intro, .content {padding-left: 30px; padding-right: 30px;}
#introtext {font-size: 1.25em;}
#hero, .hero-image, .photos, #photo1, #photo2, #photo3 {margin: 0 auto; width: 100%; height: auto;}
#chaptertitle, .graphic-headline, #headline {font-size: 2em;}
.chap-icon {width: 100px;}
.caption, #byline, .graphic-caption, .icon-subtitle {font-size: 12px;}
.chaptertext, .graphic-text, .graphic-text1 {font-size: 1em;}
.navbar::-webkit-scrollbar {display: none;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark::-webkit-scrollbar {display: none;}
#footer {font-size: 12px;}}
@media only screen and (max-width: 1157px) {#nav-item1 {display: none;}}

/*Responsiveness for mid-size viewports*/
@media only screen and (max-width: 600px) {.intro, .content {padding-left: 15px; padding-right: 15px;}
#headline, #container {font-size: 20px; margin: 0 auto; width: 100%;}
.graphic-container, iframe {margin: 0 auto; width: 100%;}
.navbar-brand {width: auto; font-size: 10px; display: inline; overflow: visible; white-space: normal; text-align: center;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {width: 100%;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark::-webkit-scrollbar {display: none;}
.navbar::-webkit-scrollbar {display: none;}
img.icon {display: inline;}
button.navbar-toggler {display: inline; float: left;}
#photo1 {margin: 0 auto; width: 100%; height: 150;} .photos {width: 100%; height: 150;}
#chaptertitle, #headline, .graphic-headline {font-size: 16px;}
.subheading {margin: 0 auto; width: 100%; font-size: 16px;}
.introtext, .chaptertext, .navbar, #byline, nav {font-size: 12px; margin: 0 auto; width: 100%;}
.caption, #byline, .graphic-caption, #footer, .icon-subtitle {font-size: 10px;}
.graphic-text, .graphic-text1 {font-size: 12px;}
#hero, .hero-image, .photos, #photo1, #photo2, #photo3 {margin: 0 auto; width: 100%; height: auto;}
.chap-icon {width: 10%;}
.nav-item, .nav-item-active, .nav-link, .navbar, ul.navbar-nav, {margin: 0 auto; width: 100%;}}

/*Responsiveness for smallest, mobile viewports*/
@media only screen and (max-width: 400px) {.caption, #byline, .graphic-caption, #footer, .icon-subtitle {font-size: 8px;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark::-webkit-scrollbar {display: none;}}

/*Responsive navbar behaviors*/
@media only screen and (max-width: 770px) {button.navbar-toggler {display: none;}
.navbar-brand {font-size: 16px; text-align: center; margin: auto;}}
@media only screen and (max-width: 810px) {img.icon {}}
@media only screen and (min-width: 810px) {img.icon {display: inline;}}

/*links and interactives*/
html {scroll-behavior: smooth;}
a, a:link {color: #e0162b;}
a:hover {color: #0052a5;}
a:visited {#999;}
a.home-arrow, a.icon-sub-link {color: black;}
a.home-arrow:hover {font-size: 150%; transition: .5s; color: #e0162b;}
a.icon-sub-link:hover {text-decoration: none; color: #e0162b;}
#footer-logo {display: inline-block; margin-top: inherit; float: right; font-size: 16px; font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif; font-weight: 700;}
#footer-link, #footer-logo {color: rgba(255,255,255,0.6);}
#footer-link:hover, #footer-logo:hover {color: rgba(255,255,255,1); text-decoration: none;}
.red {color: #e0162b;}
.blue {color: #0052a5;}
.element::-webkit-scrollbar { width: 0 !important }
ul.navbar-nav {margin-left: 20%; display: inline;}
.nav-item, .nav-item-active, .nav-link {display: inline; font-size: 1em;}

/*Containers*/
.container {max-width: 3000px; width: 100%; margin: 0 auto; padding-left: 0px; padding-right: 0px;}
.navbar {font-family: 'Montserrat', sans-serif; display: inline-flex; width: 100%; flex-wrap: initial;}
.navbar::-webkit-scrollbar {display: none;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark::-webkit-scrollbar {display: none;}
.intro {max-width: 1200px; margin: 0 auto;}
.content {max-width: 1200px; margin: 0 auto;}
.graphic-container {padding-top:30px; padding-bottom:30px; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; font-family: 'Montserrat', sans-serif; margin:0 auto; margin-top: 20px; margin-bottom: 20px; max-width: 1000px; width: 100%}
iframe {margin-top: 4%; margin-bottom: 4%;}
.end-links {width: 100%; margin: 0 auto; height: auto; display: block; margin-bottom: 30px; text-align: right; padding-right: 5%;}
.icon-links {display: inline-block; text-align: center;}
#footer {width: 100%; margin: 0 auto; background-color: black; height: 75px; color: white; font-family: 'Montserrat', arial, sans-serif; display: block; margin-top: 30px; padding-left: 2%; padding-right: 2%; text-align: center;}

/*Text, etc.*/
p {text-align: left; line-height: 180%;}
.bg-dark {background:#000 !important;}
#headline {font-family: 'Montserrat', Helvetica, sans-serif; text-align: center; font-weight: 700; margin-bottom: 3%;}
#byline {font-family: 'Montserrat', arial, sans-serif; font-weight: 500; margin-bottom: 25px; width: 100%; color:#3d3d29; line-height: 150%;}
.introtext {width: 100%; margin-top: 2%; margin-bottom: 25px; margin: 0 auto; padding-bottom: 25px; font-family: "Montserrat", sans-serif, arial; font-weight: 500;}
.subheading {display: inline; margin-top: 5%; margin-bottom: 5%; text-align: left;}
#chaptertitle {font-family: "Montserrat", sans-serif; font-weight: 700; display: inline; color: black;}
.chaptertext {font-family: 'PT Serif', 'Times New Roman', serif;}
.caption {margin: 0 auto; padding-bottom: 30px; font-family: 'Montserrat', sans-serif; line-height: 150%; color:#3d3d29;}
.graphic-caption {width: 100%; max-width: 900px; margin: 0 auto; font-family: 'Montserrat', sans-serif; color: #e0162b; text-align: center; font-weight: 700;}
.graphic-headline {font-family: 'Montserrat', sans-serif; text-align: center; font-weight: 700;}
.graphic-text1 {font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center;}
.graphic-text {font-family: 'Montserrat', sans-serif; font-weight: 400;}
#footer-text {display: inline-block; width: 80%; margin: 0 auto;}

/*Icons and images*/
.icon {width: 40px;}
#banner-icon {margin-right: 5px; display: inline;}
.hero-image {width: 100%; max-width: 900px; margin: 0 auto;}
#hero {text-align: center; margin: 0 auto; padding-top: 5px; padding-left: 5px; padding-right: 5px; max-width: 900px; margin-top: 50px;}
.chap-icon {display: inline; background: repeating-linear-gradient(45deg, black, white 100px);}
#chapter-icon {margin-right: 5px; display: inline;}
#photo1, #photo2, #photo3 {width: 100%; max-width: 900px; margin: 0 auto;}
.photos {text-align: center; margin: 0 auto; margin-top: 30px; max-width: 800; width: 100%;}
